body {
  @include indents-none;
  @include font-weight;
  font-family: $open-sans;
  font-size: 16px;
  line-height: 22px;
  color: $main-text;
  background-color: $main-background;
}

a {
  color: $main-text;
  text-decoration: none;
}
