.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 780px;
  padding-top: 30px;

  &__list {
    @include list-reset;
    @include indents-none;
  }

  &__item {
    margin-bottom: 32px;

    &:first-child .contacts__text--title {
      margin-bottom: 17px;
    }
  }

  &__text {
    @include indents-none;

    &--title {
      @include font-weight(700);
      margin-bottom: 13px;
      line-height: 10px;
    }

    &--value {
      @include font-weight(600);
      display: block;
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__map {
    width: 431px;
    height: 273px;
  }
}

@media (max-width:$max-tablet-width) {

  .contacts {
    max-width: 585px;

    &__item {

      &:first-child {
        margin-bottom: 20px;
      }
    }

    &__map {
      width: 283px;
      height: 283px;
    }
  }
}

@media (max-width:$max-mobile-width) {

  .contacts {
    max-width: auto;
    padding-top: 25px;

    &__item {
      margin-bottom: 20px;

      &:nth-child(2),
      &:last-child {
        display: none;
      }

      &:first-child {
        margin-bottom: 15px;
      }

      &:first-child .contacts__text--title {
        margin-bottom: 11px;
      }
    }

    &__text {
      &--title {
        margin-bottom: 11px;
      }
    }

    &__map {
      width: 100%;
      height: 288px;
    }
  }
}
