.footer {
  padding: 25px 0;
  background-color: $background;

  &__wrapper {
    padding: 0 54px;
  }

  &__menu {
    margin-left: 4px;
  }
}

@media (max-width:$max-tablet-width) {
  .footer {
    &__wrapper {
      padding: 0 2.75%;
    }

    &__menu {
      margin-left: 0;
    }
  }
}

@media (max-width:$max-mobile-width) {
  .footer {
    padding-top: 20px;
  }
}
