.header {
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: $background;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 56px;
}

.header__navigation {
  flex-grow: 1;
}

.header__logo img {
  display: block;
}
