.menu {
  @include list-reset;
  @include indents-none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  &--header {
    justify-content: flex-end;
  }
}

.menu--header .menu__item  {
  margin-right: 68px;
}

.menu--footer .menu__item {
  margin-right: 67px;
}

.menu__item {
  margin-bottom: 2px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  @include font-weight(600);
  display: block;
  padding: 5px 0;
}
