.menu {
  @include list-reset;
  @include indents-none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__item {
    margin-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  &__link {
    @include font-weight(600);
    display: block;
    padding: 5px 0;
  }

  &--header {
    justify-content: flex-end;
  }

  &--header .menu__item  {
    margin-right: 69px;
  }

  &--footer .menu__item {
    margin-right: 67px;

    &:last-child {
      margin-right: 0;
    }
  }
}


@media (max-width:$max-tablet-width) {

  .menu {
    &--header {
      box-sizing: border-box;
      position: fixed;
      left: 0;
      right: 0;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      height: 100%;
      max-height: calc(100vh - 75px);
      padding: 10px 2.8%;
      background-color: $background;
      overflow: hidden auto;
      z-index: 20;
    }

    &--header .menu__item  {
      width: 100%;
      margin-right: 0;
      border-top: 1px solid $border;

      &:last-child {
        border-bottom: 1px solid $border;
      }
    }

    &--header .menu__link  {
      padding-top: 21.5px;
      padding-bottom: 19.5px;
      padding-left: 15px;
    }

    &--footer {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto;
      column-gap: 16.5%;
      row-gap: 10px;
      justify-content: flex-start;
    }

    &--footer .menu__item {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

@media (max-width:$max-mobile-width) {

  .menu {
    &--footer {
      grid-template-columns: auto;
      column-gap: 0;
      row-gap: 5px;
      justify-content: center;
      text-align: center;
    }
  }
}
