.product {
  padding: 50px 0;

  &__wrapper {
    padding: 0 3.4%;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 4.6%;
  }

  &__photos {
    width: 600px;
    padding-top: 40px;
  }

  &__info {
    padding-top: 25px;
  }
}

@media (max-width:$max-tablet-width) {

  .product {
    padding: 21px 0;

    &__wrapper {
      padding: 0 2.75%;
    }

    &__content {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      gap: 0;
    }

    &__photos {
      width: 100%;
      padding-top: 0;
    }

    &__info {
      margin-left: 0;
      padding-top: 60px;
    }
  }
}
